<div class="top-footer">
<div class="container">
  <h1>Boost your links today</h1>
  <button type="button" name="button" class="btn mr-sm-2">Get Started</button>
</div>
</div>
<div class="footer">
  <footer class="container">
  <div class="row no-gutters">
    <div class="col-md-4">
        <h4 class="brand">Shortly</h4>
    </div>
    <div class="col-md-2">
      <h6 class="head-title">Features</h6>

        <ul class="list-unstyled">
          <li>
            <h6 href="#!">Link Shortening</h6>
          </li>
          <li>
            <h6 href="#!">Branded Links</h6>
          </li>
          <li>
            <h6 href="#!">Analytics</h6>
          </li>

        </ul>
    </div>
    <div class="col-md-2">
      <h6 class="head-title">Resources</h6>

        <ul class="list-unstyled">
          <li>
            <h6 href="#!">Blog</h6>
          </li>
          <li>
            <h6 href="#!">Developers</h6>
          </li>
          <li>
            <h6 href="#!">Support</h6>
          </li>

        </ul>
    </div>
    <div class="col-md-1">
      <h6 class="head-title">Company</h6>

        <ul class="list-unstyled">
          <li>
            <h6 href="#!">About</h6>
          </li>
          <li>
            <h6 href="#!">Our Team</h6>
          </li>
          <li>
            <h6 href="#!">Careers</h6>
          </li>
          <li>
            <h6>Contact</h6>
          </li>
        </ul>
    </div>
    <div class="icon-box">
      <img class="footer-icon fb" src="images/icon-facebook.svg" alt="icon-facebook">
      <img class="footer-icon tw" src="images/icon-twitter.svg" alt="icon-twitter">
      <img class="footer-icon pt" src="images/icon-pinterest.svg" alt="icon-pinterest">
      <img class="footer-icon inst" src="images/icon-instagram.svg" alt="icon-instagram">
    </div>
  </div>
  </footer>
</div>
<div class="attribution">
  Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>.
  Coded by <a href="https://github.com/piotrmaz">Piotr M</a>.
</div>
  <script src="myjsfile.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

  </body>
</html>
