html * {
  font-family: 'Poppins', sans-serif;
}

.btn {
  background-color: #2acfcf !important;
  color: #fff !important;
  border: 0 !important;
}

.btn:hover {
  background-color: #95eaea !important;
  color: #f2f2f2 !important;
}

.button-radius {
  border-radius: 40px !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.button-large {
  border-radius: 40px !important;
  padding: 15px 35px !important;
}

#navigation .navbar-brand {
  font-size: 2.2rem;
  font-weight: 700;
  padding-top: 25px;
  padding-bottom: 25px;
}

@media only screen and (max-width: 991px) {
  .navbar-collapse {
    background-color: #3b3054;
    border-radius: 12px;
    text-align: center;
    padding-bottom: 35px !important;
  }

  .nav-link {
    color: #fff !important;
    font-weight: bold;
    font-size: 1.2rem;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
  }

  .nav-link:first-child {
    padding-top: 35px !important;
  }

  .border-class {
    border-top: 1px solid #999;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .button-radius {
    padding-left: 35% !important;
    padding-right: 35% !important;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
  }

  .navbar-toggler {
    border-color: transparent !important;
  }

  .navbar-toggler {
    outline: none !important;
  }
}

#content {
  padding-top: 80px;
  margin-bottom: 0;
}

@media only screen and (max-width: 991px) {
  #content {
    padding-top: 0;
  }

  .illustation {
    width: 120% !important;
  }

  .info-container {
    margin-top: 450px;
    text-align: center;
    width: 100% !important;
  }

  .container {
    max-width: 90% !important;
  }

  .top-info-section {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }

  .info-header {
    font-size: 3.5rem !important;
  }

  .info-description {
    font-size: 1.1rem !important;
  }

  .form-input-button input {
    width: 100% !important;
    margin-bottom: 30px;
  }

  .form-input-button button {
    margin-left: 0 !important;
    width: 100%;
  }

  .error {
    top: 100px;
    width: 60% !important;
  }
}

/* info section */
.illustation {
  position: absolute;
  right: -69px;
  object-position: 100px;
  width: 80%;
}

.info-header {
  font-size: 4.5rem;
  font-weight: 700;
  padding-top: 25px;
}

.info-container {
  width: 52%;
}

.info-description {
  font-size: 1.3rem;
  color: rgba(0, 0, 0, .5);
}

.top-info-section {
  position: relative;
  padding-bottom: 80px;
  padding-right: 35px;
  padding-left: 35px;
}

#advanced-statistic {
  background-color: #f2f1f4;
  margin-bottom: 0;
  padding-bottom: 350px;
}

input:invalid {
  border: 3px solid #ff3333;
}

input:valid {
  border: 3px solid #009933;
}

input:focus:invalid {
  outline: none;
}

input:focus:valid {
  outline: none;
}

.error {
  display: flex;
  width: 25%;
  padding: 0;
  font-size: 80%;
  color: #ff3333;
  /* background-color: #900; */
  border-radius: 0 0 5px 5px;
  box-sizing: border-box;
  position: absolute;
}

.error.active {
  padding: 0.3em;
}

.form-content {
  background-image: url("images/bg-shorten-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #3b3054;
  /* text-align: center; */
  position: relative;
  top: 70px;
  border-radius: 6px;
}

.container {
  padding-right: 35px !important;
  padding-left: 35px !important;
}

.form-input-button {
  padding: 50px;
}

.form-input-button input {
  width: 80%;
  height: 50px;
  border-radius: 6px;
}

::placeholder {
  padding-left: 20px;
}

.form-input-button button {
  padding: 12px 40px 12px 40px;
  margin-left: 25px;
}

.box {
  padding-top: 120px;
  text-align: center;
}

.left-box h5 {
  padding: 20px;
  border-radius: 6px 0 0 6px;
  text-align: left;
  padding-left: 30px;
}

.right-box h5 {
  padding: 13px;
  border-radius: 0 6px 6px 0;
  text-align: right;
  padding-right: 30px;
}

.right-box a {
  color: #2acfcf;
}

.right-box a:hover {
  color: #2acfcf;
  text-decoration: none;
}

.box h5 {
  background-color: #fff;
  margin-bottom: 20px;
}

.button-copy {
  margin-left: 45px;
  padding: 7px 14px;
  color: #fff;
  border: 0;
  background-color: #2acfcf;
  border-radius: 6px;
  border-color: transparent;
  transition: 0.2s;
}

.button-copy:hover {
  transform: scale(0.95);
}

.button-copy:focus {
  border-color: transparent !important;
  outline: none !important;
}

.header-advanced-static {
  padding-bottom: 100px;
}

.cards-advanced-statistic {
  padding-top: 100px;
  text-align: center;
}

.cards-advanced-statistic h2 {
  font-weight: bold;
  font-size: 2.4rem;
}

.cards-advanced-statistic h6 {
  color: rgba(0, 0, 0, .5);
  padding-top: 15px;
  line-height: 2;
  font-size: 1.2rem;
}

.border-behind-cards {
  margin-left: auto;
  margin-right: auto;
  border-bottom: 8px solid #2acfcf;
  width: 50%;
  position: relative;
  top: 180px;
  z-index: -1;
}

.cards {
  position: relative;
  padding-bottom: 150px;
  z-index: 1;
}

.cards p {
  color: #bfbfbf;
}

.my-card {
  padding: 25px 15px 25px 25px;
  background-color: #fff;
  border-radius: 6px;
  margin-right: 15px;
  margin-left: 15px;
  text-align: left;
}

.my-card h4 {
  padding-top: 50px;
  font-weight: bold;
  padding-bottom: 25px;
}

.icon-top-card {
  top: -40px;
  position: absolute;
  border-radius: 100%;
  background-color: #3b3054;
  padding: 20px;
}

.first-card {
  float: left;
  max-width: 30%;
}

.second-card {
  margin-top: 50px;
  float: left;
  max-width: 30%;
}

.second-card .icon-top-card {
  top: 10px;
}

.third-card {
  margin-top: 100px;
  float: left;
  max-width: 30%;
}

.third-card .icon-top-card {
  top: 50px;
}

@media only screen and (max-width: 991px) {
  .first-card {
    float: none !important;
    max-width: none !important;
    text-align: center;
  }

  .second-card {
    float: none !important;
    max-width: none !important;
    text-align: center;
  }

  .third-card {
    float: none !important;
    max-width: none !important;
    text-align: center;
    margin-top: 50px;
  }

  .icon-top-card {
    top: -50px;
    width: fit-content;
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }

  .second-card .icon-top-card {
    top: -50px;
    margin-left: auto;
    margin-right: auto;
  }

  .third-card .icon-top-card {
    top: -50px;
    margin-left: auto;
    margin-right: auto;
  }
  .my-card h4
  {
    padding-top: 0;
  }

  #advanced-statistic
  {
    padding-bottom: 0;
  }

  footer
  {
    text-align: center;

  }

footer .brand {
  margin-bottom: 60px!important;
}

.footer
{
    padding-top: 50px!important;
}
  .icon-box{
    margin-left: auto!important;
    margin-right: auto!important;
    margin-top: 25px;
  }
  .footer-icon {
    padding-right: 20px;
    padding-left: 20px;
  }
}

/* footer */
.top-footer {
  background-image: url("images/bg-boost-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #3b3054;
  color: #fff;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-top: 0;
}

.top-footer h1 {
  font-weight: bold;
  padding-bottom: 20px;
  padding-top: 10px;
}

.footer {
  background-color: #35323e;
  color: #fff;
  padding-top: 100px;
  padding-bottom: 50px;
}

.footer h6 {
  padding-bottom: 5px;
  transition: 0.2s;
}

.footer li h6:hover {
  color: #2acfcf;
  cursor: pointer;
}

footer {
  background-color: #35323e;
}

footer .brand {
  font-size: 2.2rem;
  font-weight: 700;
}

footer .head-title {
  font-weight: 700;
  padding-bottom: 20px;
}

li>h6 {
  font-weight: 300;
  font-size: 0.8rem;
  color: #bfbfbf;
}

.footer-icon {
  padding-left: 20px;
  transition: 0.3s;
}

.icon-box {
  margin-left: 60px;
  cursor: pointer;
}

.fb:hover {
  filter: invert(31%) sepia(9%) saturate(3701%) hue-rotate(183deg) brightness(100%) contrast(88%);
}

.tw:hover {
  filter: invert(48%) sepia(87%) saturate(1401%) hue-rotate(176deg) brightness(97%) contrast(97%);
}

.pt:hover {
  filter: invert(70%) sepia(96%) saturate(7441%) hue-rotate(349deg) brightness(95%) contrast(98%);
}

.inst:hover {
  /* filter: invert(27%) sepia(45%) saturate(3416%) hue-rotate(317deg) brightness(95%) contrast(91%); */
  fill: url(#inst) #447799;
}

.attribution {
  background-color: #35323e;
  text-align: center;
  color: #bfbfbf;
}
